NET "push1" LOC=V4 | IOSTANDARD = LVTTL | PULLDOWN;
NET "push2" LOC=K17 | IOSTANDARD = LVTTL | PULLDOWN;

NET "clk" LOC=C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;
 
NET "in<0>" LOC=L13 | IOSTANDARD = LVTTL | PULLUP;
NET "in<1>" LOC=L14 | IOSTANDARD = LVTTL | PULLUP;
NET "in<2>" LOC=H18 | IOSTANDARD = LVTTL | PULLUP;
NET "in<3>" LOC=N17 | IOSTANDARD = LVTTL | PULLUP;

NET "out" LOC=F12 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE = 8;

NET "sf_e" LOC=D16 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "e" LOC=M18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "rs" LOC=L18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "rw" LOC=L17 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "a" LOC=R15 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "b" LOC=R16 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "c" LOC=P17 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET "d" LOC=M15 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;