NET "in1[0]" LOC=L13 | IOSTANDARD = LVTTL | PULLUP;
NET "in1[1]" LOC=L14 | IOSTANDARD = LVTTL | PULLUP;
NET "in2[0]" LOC=H18 | IOSTANDARD = LVTTL | PULLUP;
NET "in2[1]" LOC=N17 | IOSTANDARD = LVTTL | PULLUP;

NET "eq" LOC=F12 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE = 8;