# clock signal for 50 MHz
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;

# output for LED
NET "sf_e" LOC = D16 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "e" LOC = M18 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "rs" LOC = L18 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "rw" LOC = L17 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "d" LOC = M15 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "c" LOC = P17 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "b" LOC = R16 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "a" LOC = R15 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;